.box {
	background-color: #fff;
	padding: 25px 40px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Roboto';
}
.btn-facebook{
	background-color: #4d76bd;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
    font-size: 20px;
}
.btn-facebook:hover {
	background-color: #36507c;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
    font-size: 20px;
}

.btn-google{
	background-color: #ff0d0d;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
    font-size: 20px;
}
.btn-google:hover {
	background-color: #da2323;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
    font-size: 20px;    
}

.divider-form {
    border: 1px solid #EBEFF1;
    margin: 15px -40px 10px;
}
label {
	text-transform: uppercase;
	color: #bdc7d4;
}

strong {
	color: #95a5bb;
}

.container-fuild{
	width:90%;
	margin:auto;
	background: #fff;
}

.container-fuild h2{
	font: 400 40px/0.8 'Great Vibes', Helvetica, sans-serif;
	font-weight: 800;
    color: #000;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}